In [1]:
# print 0 to 20 by using range

In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20

In [5]:
for num in range(10,20):
    if num < 20:
        print(num,end=" ")
    else:
        print(num)

10 11 12 13 14 15 16 17 18 19

In [6]:
# Print number of items in the list by using 'len'

In [8]:
my_list = [10, 20, 14, 55, 43, 87, 76]
print(my_list)
print("Number of item in the List2: \n"+str(len(my_list)))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [17]:
my_text=['A','r','t','i','f','i','c','i','a','l','  ' ,'I','n','t','e','l','l','i','g','e','n','c','e']
#print(my_text)
for text in my_text:
    print(text,end=" ")
for text in my_text:    
    print(text)

A r t i f i c i a l    I n t e l l i g e n c e A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [18]:
# Mixed datatype using Tuples

In [19]:
Tuple1 = (1,'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [29]:
#Nested Tuples

In [22]:
Tuple1 = (0,1,2,3)
Tuple2 = ('python','HOPE')
Tuple3 = (Tuple1 , Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [30]:
# Print odd & Even Numbers in the list

In [28]:
my_list=[20,10,16,19,25,1,276,188]
for num in my_list:
    if num%2==0:
        print(str(num) + "  is Even Number")
    elif num%2 !=0:
        print(str(num) + "  is Odd Number")

20  is Even Number
10  is Even Number
16  is Even Number
19  is Odd Number
25  is Odd Number
1  is Odd Number
276  is Even Number
188  is Even Number